<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet consectetur. Imperdiet est in dui accumsan
        nisi non quis in velit.
      </p>

      <!-- Error Alert     -->
      <div *ngIf="isErrorEmail" class="alert alert-danger">
        Email is already in used
      </div>

      <!-- Subscribe Alert     -->
      <div *ngIf="isSubscribed" class="alert alert-info">
        Thank you for your subscribe!
      </div>


      <form #subForm="ngForm" (ngSubmit)="onSubmit(subForm.value)" *ngIf="!isSubscribed" class="form-inline mb-5 mt-5">
        <div class="form-group col-md-5">
          <input
            #Name="ngModel"
            [ngClass]="{ 'is-invalid': Name.touched && Name.invalid }"
            class="form-control"
            name="name"
            ngModel
            placeholder="Your Name"
            required
            type="text"
          />
          <div *ngIf="Name.touched && Name.invalid" class="text-danger">
            <div *ngIf="Name.errors?.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input
            #Email="ngModel"
            [ngClass]="{ 'is-invalid': Email.touched && Email.invalid }"
            class="form-control"
            email
            name="email"
            ngModel
            placeholder="Email Address"
            required
            type="email"
          />
          <div *ngIf="Email.touched && Email.invalid" class="text-danger">
            <div *ngIf="Email.errors?.required">Email is required</div>
            <div *ngIf="Email.errors?.email">Email is invalid</div>
          </div>
        </div>
        <div class="col-md-2">
          <button
            [disabled]="subForm.invalid"
            class="btn btn-info btn-block btn-theme"
          >
            SUBSCRIBE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
