<div *ngIf="loadedPost" class="container">
  <div class="row">
    <div class="col-md-12">
      <img
        alt="post"
        class="img-fluid"
        src="{{ this.loadedPost.postImgPath }}"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-8">
      <div class="card shadow-effect">
        <div class="card-body">
          <small class="bg-light text-danger text-center">
            {{ loadedPost.category.category }}
          </small>
          <small *ngIf="loadedPost.isFeatured" class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
          >Views - {{ loadedPost.views }}</small
          >
          <small class="bg-light text-warning text-center ml-2">
            LAST UPDATED - {{ loadedPost.createdAt.toMillis() | date }}
          </small>

          <h1 class="mt-3 mb-3">
            {{ loadedPost.title }}
          </h1>
          <p [innerHtml]="loadedPost.content"></p>
        </div>
      </div>

      <!-- Comments Form     -->
      <app-comment-form></app-comment-form>
      <!--  Comments List    -->
      <app-comment-list></app-comment-list>
    </div>

    <!-- Related Posts   -->
    <div class="col-md-4">
      <div class="mb-3">
        <div *ngFor="let post of postsLoadedArray" class="mb-3">
          <app-post-card [postData]="post"></app-post-card>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <app-subscription-form></app-subscription-form>
    </div>
  </div>
</div>
