<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="site-logo" href="#">ANG_BLOG</a>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <p class="mt-2 mb-2">Copyright © 2023 Angular Website</p>
      </div>
    </div>
  </div>
</footer>
