<div
  *ngIf="commentsArray?.length > 0"
  class="card mb-5 mt-5 pb-5 shadow-effect"
>
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments ({{ commentCount }})</h4>

    <!-- Comments Section   -->
    <div *ngFor="let comment of commentsArray" class="comment-box mt-3">
      <h6 class="mb-0">{{ comment.data.name }}</h6>
      <small class="text-danger"
      >LAST UPDATED - {{ comment.data.createdAt.toMillis() | date }}</small
      >

      <div class="mt-3 mb-3">
        {{ comment.data.comment }}
      </div>

      <a class="mt-1" href="post/9pknTh4NIdKh98sXp52m#comment">Reply</a>
      <a class="mt-1 ml-3" href="#">View Reply</a>

      <!--  Replies Section   -->
      <!--      <div class="ml-4 mt-5">-->
      <!--        <div class="mb-3">-->
      <!--          <h6 class="mb-0">John Doe</h6>-->
      <!--          <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>-->

      <!--          <div class="mt-2 mb-5">-->
      <!--            Lorem ipsum dolor sit amet consectetur. Volutpat pellentesque aliquam-->
      <!--            mauris purus non. Interdum tellus ornare enim proin nulla tristique-->
      <!--            ullamcorper nibh.-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
