<div
  *ngIf="commentsArray?.length > 0"
  class="card mb-5 mt-5 pb-5 shadow-effect"
>
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments ({{ commentCount }})</h4>

    <!-- Comments Section   -->
    <div
      *ngFor="let comment of commentsArray; let i = index"
      class="comment-box mt-3"
    >
      <h6 class="mb-0">{{ comment.data.name }}</h6>
      <small class="text-danger"
      >LAST UPDATED - {{ comment.data.createdAt.toMillis() | date }}</small
      >

      <div class="mt-3 mb-3">
        {{ comment.data.comment }}
      </div>

      <button (click)="toggleReply(i)" class="btn btn-sm btn-primary btn-custom mt-1">
        Reply
      </button>

      <button
        (click)="toggleReplyList(i)"
        class="btn btn-sm btn-primary btn-custom mt-1 ml-3"
      >
        View Reply
      </button>

      <app-comment-form
        *ngIf="isReply && activeCommentIndex === i"
        [parentId]="comment.id"
      ></app-comment-form>

      <!--        Replies Section   -->
      <div *ngIf="isReplyList && activeCommentIndex === i">
        <app-child-comment-list
          [parentId]="comment.id"
          [postId]="comment.data.postId"
        ></app-child-comment-list>
      </div>
    </div>
  </div>
</div>
