<div class="card shadow-effect">
  <img
    alt="post image"
    class="card-img-top"
    src="https://plugins-media.makeupar.com/smb/blog/post/2023-05-17/1ad5b4e0-8e0c-4615-9c95-aa72f14a28fe.jpg"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,250</small>

    <h5 class="mt-1">HOW TO START A BLOG 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur. Faucibus egestas auctor tristique
      vitae risus. Et ut proin quam ut. Justo non habitant euismod pharetra quis
      tempus scelerisque tempus.
    </p>
    <small class="bg-light text-warning text-center ml-3"
    >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
